/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #151786;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3f1aa5;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 30px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #313eb8;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #3498db;
    margin-top: 20px; /* Puedes ajustar el valor según tus necesidades */
    margin-left: 20px; /* Puedes ajustar el valor según tus necesidades */
}

/* Estilos adicionales para cuando el mouse está sobre el botón */
.boton:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}